.App {
  text-align: center;
  background-color: #61dafb;
  width: 50%;
  height: 100vh;
  position: absolute;
}
.container{
  border: 1px solid gray;
  width: 27rem;
  height: 15rem;
  margin-left: 36.5rem;
  margin-top: 17rem;
  display: flex;
  background-color:dimgrey;
  /* opacity: 0.5; */
}
.left{
  width: 13.5rem;
  padding-top: 6rem;
  font-size: xx-large;
  font-weight: 700;
  cursor: pointer;
}
.right{
  width: 13.5rem;
 padding-top: 6rem;
  border-left: 1px solid black;
  color: White;
  font-weight: 700;
  font-size: xx-large;
  cursor: pointer;
}
